/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
}
.teams-container {
  width: 90%;
  max-width: 600px;
}

.ipl-heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ipl-logo {
  width: 25px;
  height: 40px;
}

.ipl-heading {
  font-size: 35px;
  color: #ffffff;
  margin-left: 10px;
}
.loader-container {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.teams-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
